<div class="auth-overlay open">
  <div class="auth-box">

    <div class="auth-top">
      <h2 class="auth-title">Welcome <em>back</em></h2>
      <p class="auth-sub">Sign in to manage your reservations.</p>
    </div>

    <form class="auth-form-wrap" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">

      <div class="afield">
        <div class="afield-row">
          <div>
            <label>First Name</label>
            <input 
              placeholder="John" 
              [(ngModel)]="registerModel.person.firstName" 
              name="firstName"
              required

            >
          </div>
          <div>
            <label>Last Name</label>
            <input 
              placeholder="Smith"
              [(ngModel)]="registerModel.person.lastName"
              name="lastName"
              required
              >
          </div>
        </div>
      </div>

      <div class="afield">
        <div class="afield-row">
          <div>
            <label>Phone</label>
            <input 
              placeholder="+995 577 123 456"
              type="tel"[(ngModel)]="registerModel.person.phone"  
              name="phone"
              required
            >
          </div>
          <div>
            <label>Email</label>
            <input 
              placeholder="you@example.com" 
              type="email" type="tel"[(ngModel)]="registerModel.email"  
              name="email"
              required
            >
          </div>
        </div>
      </div>

      <div class="auth-panel active">
        <div class="auth-error" id="loginError"></div>

        <div class="afield">
          <label>Address</label>
          <input 
            type="password" 
            placeholder="15 Rustaveli Street, Tbilisi, Georgia" type="tel"[(ngModel)]="registerModel.person.address" 
            name="address"
            required
          >
        </div>

        <div class="afield">
          <label>Username</label>
          <input 
            type="email" 
            placeholder="john123b" 
            type="tel"[(ngModel)]="registerModel.username"  
            name="username"
            required
          >
        </div>

        <div class="afield">
          <label>Password</label>
          <input 
            ype="password" 
            placeholder="••••••••" 
            placeholder="john123b" 
            type="tel"[(ngModel)]="registerModel.password" 
            name="password"
            required
          >
        </div>

        <button class="auth-btn" type="submit">Sign In</button>

        <div class="auth-switch">
          Don't have an account? <a routerLink="/register">Create one</a>
        </div>
      </div>

    </form>
  </div>
</div>