nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 28px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition:
    padding 0.4s,
    background 0.4s;

    
  @media (max-width: 630px) {
    padding: 16px 16px;
  }
}
nav.scrolled {
  padding: 16px 60px;
  background: rgba(13, 11, 9, 0.94);
  backdrop-filter: blur(14px);
  border-bottom: 1px solid var(--border);

  @media (max-width: 630px) {
    padding: 8px 8px;
  }
}
.nav-logo {
  font-family: "Cormorant", serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--cream);
  text-decoration: none;
}
.nav-logo span {
  color: var(--gold);
  font-style: italic;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* User chip when logged in */
.user-chip {
  display: flex; /* or remove display completely */
  align-items: center;
  gap: 10px;
  padding: 8px 18px 8px 10px;
  border: 1px solid var(--border);
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--gold);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: var(--bg);
  flex-shrink: 0;
}
.user-name {
  font-size: 12px;
  color: var(--cream);
  font-weight: 400;
  letter-spacing: 0.5px;
}
.logout-btn {
  background: none;
  border: none;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--muted);
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  transition: color 0.2s;
  padding: 0;
}
.logout-btn:hover {
  color: var(--red);
}

.nav-login-btn {
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--gold);
  border: 1px solid var(--border);
  padding: 9px 22px;
  text-decoration: none;
  cursor: pointer;
  background: none;
  font-family: "Mulish", sans-serif;
  transition: all 0.2s;

  @media (max-width: 650px) {
    letter-spacing: 1px;
  } 
}
.nav-login-btn:hover {
  background: var(--gold);
  color: var(--bg);
  border-color: var(--gold);
}
.nav-login-btn.hidden {
  display: none;
}

.btn-home-distinct {
  font-size: 10px;
  padding: 10px 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;    /* transparent to stand out */
  color: var(--gold);               /* gold text */
  border: 1px solid var(--gold);    /* thicker border than Sign In */
  // border-radius: 50px;              /* rounded pill shape */
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  transition: all 0.3s;
}

.btn-home-distinct:hover {
  background-color: var(--gold);    /* gold fill on hover */
  color: var(--bg);                 /* text changes to dark */
}