<nav id="nav" [class.scrolled]="isScrolled">
  <a routerLink="/" class="nav-logo">{{whiteText}} <span>{{yellowText}}</span></a>
  <div class="nav-right">
    <!-- Shown when logged in -->
        <button class="nav-login-btn" id="navLoginBtn" *ngIf="isLoggedIn">Sign out</button>
    <!-- Shown when logged out -->
    <button class="nav-login-btn" id="navLoginBtn" *ngIf="!isLoggedIn">Sign In</button>
    <button class="btn-gold" id="navRegisterBtn" style="font-size:10px;padding:10px 22px;" *ngIf="!isLoggedIn">Join Free</button>
  </div>
</nav>