<div class="page-header">
    <div>
        <h1 class="page-title">Users</h1>
        <!-- <span class="page-sub">All bookings</span> -->
    </div>
</div>


<div class="pg active">

    <!-- SEARCH -->
    <div class="search-row">
        <input class="si" placeholder="Search by name or email..." [(ngModel)]="search" />
    </div>
    <div class="role-filter">
        <button class="rf-btn" [ngClass]="filterBy() == 'all' ? 'active' : ''" (click)="getAllUsers()"
            (click)="setFilterBy('all')">All ({{userCount()}})</button>
        <button class="rf-btn" [ngClass]="filterBy() == 'customers' ? 'active' : ''" (click)="getAllCustomers()"
            (click)="setFilterBy('customers')">Customers ({{customerCount()}})</button>
    </div>

    <!-- PANEL -->
    <div class="panel">


        <div class="pb">
            <table class="dt">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Joined</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let user of filteredUsers()">

                        <!-- USER -->
                        <td>
                            <div style="display:flex;align-items:center;gap:10px">
                                <div *ngIf="user.imageUrl == null"
                                 style="
                  width:28px;
                  height:28px;
                  border-radius:50%;
                  background:var(--gold);
                  display:flex;
                  align-items:center;
                  justify-content:center;
                  font-size:11px;
                  font-weight:700;
                  color:var(--bg);
                ">
                                    {{ user.username.charAt(0) }}
                                </div>
                                 <img *ngIf="user.imageUrl != null"
           [src]="'https://localhost:7067/' + user.imageUrl"
           alt="User Avatar"
           style="
             width:28px;
             height:28px;
             border-radius:50%;
             object-fit:cover;
             display:block;
           ">

                                <strong style="font-weight:500">
                                    {{ user.username }}
                                </strong>
                            </div>
                        </td>

                        <!-- EMAIL -->
                        <td class="dim">
                            {{ user.email }}
                        </td>

                        <td>
                            <span *ngFor="let role of (getUserRoles(user.id) | async) ?? []" class="badge" [ngClass]="{
                                'b-red': role.name === 'Admin',
                                'b-amber': role.name === 'Worker',
                                'b-green': role.name === 'Customer'
                                }">
                                {{ role.name }}
                            </span>
                        </td>

                        <!-- JOINED DATE -->
                        <td class="dim">
                            {{ user.registrationDate | date:'dd MMM yyyy' }}
                        </td>

                        <!-- ACTIONS -->
                        <td>
                            <div style="display:flex;gap:6px;flex-wrap:wrap">
                                <button class="ab" (click)="openUser(user)">View</button>
                                <button class="ab" (click)="openEditUser(user)">Edit</button>
                                <button class="ab del" (click)="deleteUser(user)">Delete</button>
                            </div>
                        </td>

                    </tr>

                    <!-- EMPTY STATE -->
                    <tr *ngIf="users().length === 0">
                        <td colspan="4">
                            <div class="empty">
                                <div class="empty-icon">◯</div>
                                <div class="empty-text">No users found</div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel reveal d2" *ngIf="selectedUser() as user">
    <div class="panel-head">
        <span class="panel-title">Account Details</span>
        <button class="panel-edit-btn" (click)="openEditUser(user)">Edit</button>
    </div>

    <!-- Read-only view -->
    <div class="panel-body" *ngIf="editMode() == false">
        <td *ngFor="let role of (getUserRoles(user.id) | async) ?? []">
            <span class="badge" [ngClass]="{
                                'b-red': role.name === 'Admin',
                                'b-amber': role.name === 'Worker',
                                'b-green': role.name === 'Customer'
                                }">
                {{ role.name }}
            </span>
        </td>
        <div class="info-row">
            <span class="info-label">Username</span>
            <span class="info-value">{{ selectedUser()?.username }}</span>
        </div>
        <div class="info-row">
            <span class="info-label">Email</span>
            <span class="info-value">{{ selectedUser()?.email }}</span>
        </div>
        <div class="info-row">
            <span class="info-label">Joined</span>
            <span class="info-value">{{selectedUser()?.registrationDate | date:'MMM d, y'}}</span>
        </div>
    </div>

    <form class="panel-body" *ngIf="editMode()" #myForm="ngForm" (ngSubmit)="updateUserDetails(myForm)">
        <td *ngIf="(getUserRoles(user.id) | async) as roles">
            <span class="badge" style="cursor: pointer;" [ngClass]="roles.some(r => r.name === 'Admin') ? 'b-red' : ''"
                (click)="addRole(user.id, 'Admin', roles)" (click)="removeRole(user.id, 'Admin', roles)">
                Admin
            </span>
            <span class="badge" style="cursor: pointer;"
                [ngClass]="roles.some(r => r.name === 'Worker') ? 'b-amber' : ''"
                (click)="addRole(user.id, 'Worker', roles)" (click)="removeRole(user.id, 'Worker', roles)">
                Worker
            </span>
            <span class="badge" style="cursor: pointer;"
                [ngClass]="roles.some(r => r.name === 'Customer') ? 'b-green' : ''"
                (click)="addRole(user.id, 'Customer', roles)" (click)="removeRole(user.id, 'Customer', roles)">
                Customer
            </span>
        </td>
        <div class="form-grid" style="margin-top: 16px;">
            <div class="field full">
                <label>Username</label>
                <input type="text" [(ngModel)]="username" name="username">
            </div>
            <div class="field full">
                <label>Email Address</label>
                <input type="email" [(ngModel)]="email" name="email" required email>
            </div>
            <!-- <div class="field full">
                <label>New Password</label>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Leave blank to keep current"
                    required>
            </div> -->
        </div>
        <div class="form-actions">
            <div style="display:flex;gap:10px">
                <button class="btn-cancel" type="button" (click)="openEditUser(user)">Cancel</button>
                <button class="btn-save" type="submit">Save Changes</button>
            </div>
        </div>
    </form>
</div>