<!-- Drinks Section -->
<!-- <section class="menu-section active">
  <div class="section-header">
    <div class="section-title-wrap">
      <h2 class="section-name"><em>{{menuDish.name}} (${{totalPrice()}})</em></h2>
    </div>
  </div>

  <div class="dish-grid" *ngFor="let dish of menuDish.dishes">
    <app-dish [dish]="dish"></app-dish>
  </div>
</section> -->
<div class="section-header">
  <div class="section-title-wrap">
    <h2 class="section-name"><em>{{menuDish.name}} (${{totalPrice()}})</em></h2>
  </div>
</div>
<div class="dish-grid">
  <div class="dish-card" *ngFor="let dish of menuDish.dishes">
    <app-dish [dish]="dish"></app-dish>
  </div>
</div>