<div class="page-header">
  <div>
    <h1 class="page-title">Schedule</h1>
    <!-- <span class="page-sub">Venues &amp; menus</span> -->
  </div>
  <div class="worker-select-wrap">
    <!-- <span class="worker-label">Worker</span> -->
    <select class="worker-select" id="workerSelect" [(ngModel)]="selectedWorkerIndex">
      <option value="-1">Select a Worker</option>
      <option *ngFor="let w of workers(); let i = index" [value]="i">{{w.username}}</option>
    </select>
  </div>
</div>

<div class="cal-wrap" id="calWrap" style="position: relative;">
  <div class="week-grid">
    <div class="time-gutter-head"></div>
    <div class="day-header">
      <div class="dh-name">Mon</div>
      <div class="dh-date">6</div>
    </div>
    <div class="day-header today">
      <div class="dh-name">Tue</div>
      <div class="dh-date">7</div>
    </div>
    <div class="day-header">
      <div class="dh-name">Wed</div>
      <div class="dh-date">8</div>
    </div>
    <div class="day-header">
      <div class="dh-name">Thu</div>
      <div class="dh-date">9</div>
    </div>
    <div class="day-header">
      <div class="dh-name">Fri</div>
      <div class="dh-date">10</div>
    </div>
    <div class="day-header">
      <div class="dh-name">Sat</div>
      <div class="dh-date">11</div>
    </div>
    <div class="day-header">
      <div class="dh-name">Sun</div>
      <div class="dh-date">12</div>
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">6 AM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="6" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="6" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="6" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="6" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="6" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="6" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="6" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">7 AM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="7" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="7" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="7" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="7" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="7" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="7" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="7" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">8 AM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="8" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="8" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="8" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="8" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="8" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="8" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="8" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">9 AM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="9" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="9" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="9" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="9" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="9" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="9" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="9" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">10 AM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="10" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="10" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="10" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="10" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="10" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="10" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="10" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">11 AM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="11" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="11" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="11" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="11" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="11" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="11" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="11" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">12 PM</div>
    </div>
    <div class="hour-cell " data-day="0" data-hour="12" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="12" onclick="openPanel(1)">
    </div>
    <div class="hour-cell " data-day="2" data-hour="12" onclick="openPanel(2)">
    </div>
    <div class="hour-cell " data-day="3" data-hour="12" onclick="openPanel(3)">
    </div>
    <div class="hour-cell " data-day="4" data-hour="12" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="12" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="12" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">1 PM</div>
    </div>
    <div class="hour-cell " data-day="0" data-hour="13" onclick="openPanel(0)">
    </div>
    <div class="hour-cell " data-day="1" data-hour="13" onclick="openPanel(1)">
    </div>
    <div class="hour-cell " data-day="2" data-hour="13" onclick="openPanel(2)">
    </div>
    <div class="hour-cell " data-day="3" data-hour="13" onclick="openPanel(3)">
    </div>
    <div class="hour-cell " data-day="4" data-hour="13" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="13" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="13" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">2 PM</div>
    </div>
    <div class="hour-cell " data-day="0" data-hour="14" onclick="openPanel(0)">
    </div>
    <div class="hour-cell " data-day="1" data-hour="14" onclick="openPanel(1)">
    </div>
    <div class="hour-cell " data-day="2" data-hour="14" onclick="openPanel(2)">
    </div>
    <div class="hour-cell " data-day="3" data-hour="14" onclick="openPanel(3)">
    </div>
    <div class="hour-cell " data-day="4" data-hour="14" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="14" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="14" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">3 PM</div>
    </div>
    <div class="hour-cell " data-day="0" data-hour="15" onclick="openPanel(0)">
    </div>
    <div class="hour-cell " data-day="1" data-hour="15" onclick="openPanel(1)">
    </div>
    <div class="hour-cell " data-day="2" data-hour="15" onclick="openPanel(2)">
    </div>
    <div class="hour-cell " data-day="3" data-hour="15" onclick="openPanel(3)">
    </div>
    <div class="hour-cell " data-day="4" data-hour="15" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="15" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="15" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">4 PM</div>
    </div>
    <div class="hour-cell " data-day="0" data-hour="16" onclick="openPanel(0)">
    </div>
    <div class="hour-cell " data-day="1" data-hour="16" onclick="openPanel(1)">
    </div>
    <div class="hour-cell " data-day="2" data-hour="16" onclick="openPanel(2)">
    </div>
    <div class="hour-cell " data-day="3" data-hour="16" onclick="openPanel(3)">
    </div>
    <div class="hour-cell " data-day="4" data-hour="16" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="16" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="16" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">5 PM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="17" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="17" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="17" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="17" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="17" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="17" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="17" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">6 PM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="18" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="18" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="18" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="18" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="18" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="18" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="18" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">7 PM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="19" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="19" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="19" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="19" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="19" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="19" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="19" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">8 PM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="20" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="20" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="20" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="20" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="20" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="20" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="20" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">9 PM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="21" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="21" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="21" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="21" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="21" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="21" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="21" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">10 PM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="22" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="22" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="22" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="22" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="22" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="22" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="22" onclick="openPanel(6)">
    </div>
    <div class="time-gutter">
      <div class="time-slot-label">11 PM</div>
    </div>
    <div class="hour-cell" data-day="0" data-hour="23" onclick="openPanel(0)">
    </div>
    <div class="hour-cell" data-day="1" data-hour="23" onclick="openPanel(1)">
    </div>
    <div class="hour-cell" data-day="2" data-hour="23" onclick="openPanel(2)">
    </div>
    <div class="hour-cell" data-day="3" data-hour="23" onclick="openPanel(3)">
    </div>
    <div class="hour-cell" data-day="4" data-hour="23" onclick="openPanel(4)">
    </div>
    <div class="hour-cell" data-day="5" data-hour="23" onclick="openPanel(5)">
    </div>
    <div class="hour-cell" data-day="6" data-hour="23" onclick="openPanel(6)">
    </div>
  </div>
  <div class="shift-block" style="top: 225px; height: 384px; position: absolute; left: 82.8px; width: 165.625px;">
    <div class="sb-time">09:00 – 17:00</div>
    <div class="sb-hrs">7.5h net</div>
  </div>
</div>